* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Banner */
.about-banner {
  background-image: url(../images/Image.jpg);
  height: 80vh;
  color: white;
}
.about-banner h1 {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 12% 0 0 0;
  font: 3em sans-serif;
  font-weight: bolder;
}

.about-box {
  display: flex;
  gap: 30px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  margin-top: -15%;
  background-color: white;
  width: 85%;
  margin-left: 7%;
}
.welcome {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 5% 0;
}
.welcome-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 450px;
}
.each-welcome {
  width: 400px;
}
.each-welcome-2 {
  width: 400px;
  padding: 20px;
  background-color: lightgrey;
}
.each-welcome-2 img {
  width: 350px;
}
.each-mission {
  width: 450px;
  height: 40vh;
  background-image: url(../images/g4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mission {
  padding: 25% 0 0 3%;
  color: white;
  width: 350px;
}
.each-value{
    width: 450px;
    background-color: #a1f65e;
    height: 16vh;
}
.value{
    padding: 2% 0 0 3%;
}
.values{
    background-color: #1b2129;
    color: white;
    align-items: center;
    justify-content: center;
}
.values-container{
    padding: 10%;
}
.values-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2%;
}
.values-header button{
    padding: 10px;
    color: black;
    background-color: #a1f65e;
    border: none;
    cursor: pointer;
}
.values-header h3{
    color: #a1f65e;
}
.values-2{
    display: flex;
    justify-content: space-between;
}
.values-2-content{
    padding: 15px;
    background-color: #2c323a;
}
.values-2-content p{
    color: lightgray;
    padding-top: 2%;
}
.counter{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}
.count{
    padding: 30px;
    text-align: center;
    border: 1px solid lightgray;
}
.count h1{
    font-size: 3em;
}