*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.all{
    border-top: 1px solid black;
}
.container {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 70px;
    background: whitesmoke;
    padding-bottom: 30px;
}
.heeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}
.text{
    color: aqua;
    font-size: 48px;
    font-weight: 700;
    margin-left: 35%;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 380px;
    height: 50px;
    background: #53525288;
    border-radius: 6px;
    padding-left: 2%;
}
.input input{
    height: 50px;
    width: 300px;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 19px;
    font-weight: bolder;
}
.forgot-password{
    scroll-padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;

}
.forgot-password span{
    color: #4c00;
    cursor: pointer;

}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 0;

}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 39px;
    color: black;
    background: aqua;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer; 

}
.gray{
    /* background: aqua; */
    /* color:black; */
    font-size: bolder;
    margin-top: 2%;
    padding: 10px 30px;
    
}
.grayy{
    background: aqua;
    color:black;
    font-size: bolder;
    margin-top: 2%;
    padding: 10px 30px;
}